target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
osb-service/.settings/
.settings/
osb-service/service-broker-template.log
osb-service/.project
osb-service/.factorypath
osb-service/.classpath
.project
